body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007acc;
  text-align: center;
  padding: 50px 20px;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

/* 全局 h1/h2 默认蓝色 */
h1, h2 {
  color: #007acc;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

header h1 {
  color: white !important;
}

a {
  transition: color 0.3s ease;
}

a:hover {
  color: #005a9e;
  text-decoration: underline;
}
