body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007acc;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

h1, h2 {
  color: #007acc;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
